/* Book View */

[fbk-view="flip"] .fbk-footer .fbk-view-bar {
	left: 0;
}

app-flip-view {
	padding: 0 !important;
}

app-flip-view #ThreeDFlipbook {
	width: 100%;
	height: 100%;
}

/* Diapo View */

[fbk-view="diapo"] .fbk-footer .fbk-view-bar {
	left: 60px;
}

app-scroll-view.fbk-content {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start !important;
}

app-scroll-view.fbk-content .fbk-document {
	display: inline-block;
}

/* Scroll View */

[fbk-view="scroll"] .fbk-footer .fbk-view-bar {
	left: 120px;
}

.fbk-document {
	position: relative;
}

app-flip-view, app-slide-view, app-scroll-view {
	width: 100%;
	height: 100%;
}

body {
	user-select: none;
}

.slider:active {
	cursor: grabbing;
}

.fbk-document-ctn {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: grab;
}

.fbk-document-ctn:active {
	cursor: grabbing;
}

[hidden], .fbk[fbk-view] .fbk-content[hidden] {
	display: none !important;
}

[fbk-show-links="true"] .fbk-link {
	opacity: 1;
}

.transition-handle {
	transition: none !important;
}

#ThreeDFlipbook .slide-active {
	pointer-events: none;
}

.form{
	
	display: flex;
	flex-direction: column;
	border: 5px solid #273b45;
	border-radius: 5px;
	position: relative;
	justify-content: center;
	background-color: #1b2f39;
	padding: 2%;
	width: 40%;
	margin: auto;
}

.form-input{
	color: white;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 2%;
	padding: 2%;
}

input{
	color: black;
}

.auth-Doc{
	width: 100%;
	height: 100%;
	flex-direction: column;
	display: flex;
	position: absolute;
	color:white;
}

h1{
	text-align: center;
	font-size: 4em;
}

.auth-butt{
	border-bottom: 1px 1px solid;
	background-color: #273b45;
}

button:hover{
	box-shadow: 1px 1px 1px black;
}

button:active{
	background-color: #1b2f39;
}

.message{
	color: red;
}

.bk-list{
	color: white;
	border: 0.2px solid #273b45;
	margin: 5px;
}

.bk-list:hover{
	box-shadow: 0 2px 20px rgba(30, 35, 43, 0.5);
}

.bk-list-cont{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.logout{
	font-size: 150%;
}