<app-titlebar></app-titlebar>
<!-- Liste des livres -->
<div>
    <div *ngIf="booksAdmin.selectedItem=='bookList'" class="bk-list-cont">
        <div *ngFor="let book of user.booksTable" class="bk-list">
            <div>
                <h2>{{book.bookTitle}}</h2>
                <p>Description: <span>{{book.description}}</span></p>
                <p>Nombre de page: <span>{{book.nbPage}}</span></p>

            </div>
        </div>
    </div>
    <!-- Formulaire d'ajout de livre -->
    <div *ngIf="booksAdmin.selectedItem=='addBook'" class="bk-list-cont">
        <form (ngSubmit)="valAndAddBook(f)" #f="ngForm">
            <div class="form">
                <div class="form-input">
                    <label>Titre du livre</label>
                    <input type="text" name="bookTitle" ngModel required>
                </div>
                <div class="form-input">
                    <label>Date de création</label>
                    <input type="date" name="creationDate" ngModel>
                </div>
                <div class="form-input">
                    <label>Description</label>
                    <input type="textarea" name="description" ngModel>
                </div>
                <div class="form-input">
                    <label>Fichier</label>
                    <input type="file" name="file" accept="image/jpeg" multiple="true" (change)="getFiles($event)" ngModel>
                </div>
                <div class="form-input">
                    <label>Type de couverture</label>
                    <select name="CoverType" ngModel>
                        <option></option>
                    </select>
                </div>
                <button class="auth-butt" type="submit" [disabled]=f.invalid>Ajouter un livre</button>
                <div class="message">{{message}}</div>
            </div>
        </form>
    </div>
    <!-- Formulaire de gestion du compte utilisateur -->
    <div *ngIf="booksAdmin.selectedItem=='adminAcc'" class="bk-list-cont">
        <form (ngSubmit)="updateBook(f)" #f="ngForm">
            <div class="form">
                <div class="form-input">
                    <label>Nom</label>
                    <input type="text" name="name" [(ngModel)]="user.currentUser.userName" ngModel>
                </div>
                <div class="form-input">
                    <label>Prenom</label>
                    <input type="text" name="firstname" [(ngModel)]="user.currentUser.userFirstname" ngModel>
                </div>
                <div class="form-input">
                    <label>Email</label>
                    <input type="email" name="email" [(ngModel)]="user.currentUser.email" ngModel email required>
                </div>
                <button class="auth-butt" type="submit" [disabled]=f.invalid>Modifier</button>
                <div class="message">{{message}}</div>
            </div>
        </form>
    </div>
</div>