<div class="auth-Doc">
  <div>
    <h1>Authentification!</h1>
  </div>
  <form (ngSubmit)="checkAndLog(f)" #f="ngForm">
    <div class="form">
      <div class="form-input">
        <label>Email</label>
        <input type="email" name="email" ngModel email required>
      </div>
      <div class="form-input">
        <label>Mot de passe</label>
        <input type="password" name="password" ngModel required>
      </div>
      <button class="auth-butt" type="submit" [disabled]=f.invalid>se connecter</button>
      <div class="message">{{message}}</div>
      <a routerLink ="inscription">Inscription</a>
    </div>
    
  </form>
</div>